{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<center>
<div class="col-md-4 offset">
<form method="post" action="">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" class="btn btn-primary" value="{% trans 'Submit' %}" />
</form>
</div>
</center>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
