{% load staticfiles %}

<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 getleft">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Nescode</a>
    <input class="form-control form-control-dark w-50" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-5">
        <li class="nav-item dropdown">
            {% if request.user.is_authenticated %}
        <li class="nav-items"><a href="{% url 'auth_logout' %}">Log Out</a></li>
        {% else %}
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false" aria-labelledby="btnGroupDrop1">
            Action
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'registration_register' %}">Sign Up</a>
            <a class="dropdown-item" href="{% url 'auth_login' %}">Sign In</a>
        </div>
        </li>
        {% endif %}
    </ul>
</nav>
{% if request.user.is_authenticated %}
<div class="container-fluid getleft">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'offerletter:profile' %}">
                            <span data-feather="home"></span>
                            Profile <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'offerletter:offerltr' %}">
                            <span data-feather="file"></span>
                            Offer Letter
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>
{% endif %}
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>

<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--<a class="navbar-brand" href="#">NESCODE</a>-->
<!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">-->
<!--<span class="navbar-toggler-icon"></span>-->
<!--</button>-->
<!--<div class="collapse navbar-collapse" id="navbarNavDropdown">-->
<!--<ul class="navbar-nav ml-auto">-->
<!--{% if request.user.is_authenticated %}-->
<!--<li class="nav-items"><a href="{% url 'auth_logout' %}">Log Out</a></li>-->
<!--{% else %}-->
<!--<li class="nav-item dropdown">-->
<!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--Action-->
<!--</a>-->
<!--<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
<!--<a class="dropdown-item" href="{% url 'registration_register' %}">Sign Up</a>-->
<!--<a class="dropdown-item" href="{% url 'auth_login' %}">Sign In</a>-->
<!--</div>-->
<!--</li>-->
<!--{% endif %}-->
<!--</ul>-->
<!--</div>-->
<!--</nav>-->
<!--{% if request.user.is_authenticated %}-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-4">-->
<!--<nav>-->
<!--<ul class="nav">-->
<!--<li class="nav-item left-bar"> <a href="{% url 'offerletter:profile' %}">Profile</a></li>-->

<!--<li class="nav-item left-bar"><a href="{% url 'offerletter:offerltr' %}">Offer Letter</a></li>-->
<!--&lt;!&ndash;<li class="nav-item left-bar">1</li>&ndash;&gt;-->
<!--</ul>-->
<!--</nav>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--{% endif %}-->


<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
<!--</body>-->
<!--</html>-->
