.title_name {
    color: #FCA205;
}
body {
    padding-left: 15px;
}
h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}

.left-bar {
    width: 100%;
    margin-left:-100px;
}
.hideblue {
color:black;
}
.getleft{
margin-left: -15px;
height: 60px;
}

.taketop {
margin-top: -45px;
margin-left: -40px;
}
.pulltoright{
  margin-left: 90px;
}