{% extends 'offerletter/home.html' %}
{% load bootstrap4 %}
{% block content %}

<!--<h3>profile page</h3>-->
<div class="container jumbotron col-md-4">

<form method="POST" class="post-form">
    {% csrf_token %}
    <div class="form-group">
        {% bootstrap_form form %}
        <button type="submit" class="save btn btn-default">Save</button>
   </div>

    </form>

    </div>
</div>
{% endblock %}