{% extends 'offerletter/home.html' %}
{% load bootstrap4 %}

{% block content %}
 {% if request.user.is_authenticated %}
<div class="container jumbotron col-md-4">
<p>add image</p>
<form method="POST" class="post-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        {% bootstrap_form form %}
        <button type="submit" class="save btn btn-default">Save</button>
   </div>

    </form>
</div>
{% else %}
{{ 'Plz login to continue' }}
{% endif %}

    {% endblock %}