{% extends 'offerletter/home.html' %}
{% block content %}
 {% if request.user.is_authenticated %}
<div class="container col-md-10 takeleft">
    <div class="col-md-12">
    <a class="btn btn-primary btn-lg" href="{% url 'offerletter:cand_list' %}">Candidates</a>
        <a class="btn btn-primary btn-lg pull-right" href="{% url 'offerletter:add_cand' %}">Add Candidates</a>
    </div>
</div>
{% else %}
{{ 'Plz login to continue' }}
{% endif %}

    {% endblock %}