{% extends 'offerletter/home.html' %}
{% block content %}
 {% if request.user.is_authenticated %}
<div class="container col-md-10">
    <form action="">
    <table class="table">
  <thead>
    <tr>
        <th>id</th>
        <th>NAME</th>
        <th>MOBILE NUMBER</th>
        <th>Email</th>
    </tr>
</thead>
<tbody>
{% for task in posts %}
    <tr class="hideblue">
        <td>{{task.id}}</td>
        <td><a  href="{% url 'offerletter:takecandidate' task.id %}">{{task.first_name}}</a></td>
        <td>{{task.mobile_number}}</td>
        <td>{{task.email}}</td>
    </tr>
{% endfor %}
</tbody>
</table>
    </form>
</div>
{% else %}
{{ 'Plz login to continue' }}
{% endif %}

    {% endblock %}
<style>
    table, th, td {
    border: 1px solid black;
    <!--color : black;-->
}
.hideblue a {
background-color: #d11250;
    color: white;
    font-weight:bold;
}
</style>