{% load static %}
<!--<!DOCTYPE html>-->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>offer latter</title>
    </head>

    <!--<img src="offerletter/paris.jpg" alt="My image"/>image-->
    <img src="{% static "offerletter/paris.jpg" %}" alt="My image"/>
    {{image}}
<div class="divjustify">
    <font size="4">
        Date: 16th Day of February 2018<br>
        <b>HRD/2017-18/NEA014</b><br><br>
        <b>Mr.{{first_name}}</b><br>
        S/O :
        {{father_name }},{{ city }}<br>
        {{district }}
        {{state }}
        -
        {{pincode}}<br><br></font>

    <center>
        <font size="4">
            <b>Letter of Appointment</b>
        </font>
    </center><br>
    <center>
        <font size="4">Strictly Private & Confidential - Addressee Only</font>
    </center><br>
    <font size="4">Dear Mr.
        {{ first_name }},</font>
    <font size="4">
        <p>It's a pleasure to offer you employment with
            <b>Nescode Technologies Private Limited</b>("Company") in the position of
            <b>Software Developer</b>
            reporting to CEO, Mr. Sunil Kumar. You would be paid a remuneration fee of
            <i class="fas fa-rupee-sign"></i>Rs. 30,000/month. Monthly remuneration will
            given solely based on performance. You will also be required to provide the
            documents listed in Appendix B, on the date of joining.</p>
    </font>

    <font size="4">
        <p>Your employment with Nescode Technologies Private Limited shall be governed
            by the policies of the Company as specified within the Statement of Main Terms
            and Conditions of Employment and also the Company's employee Handbook as there
            may be, which are issued and or amended with cause, from time to time.</p>
    </font>
    <font size="4">
        <p>
            If you are agreeable to the Statement of main terms and conditions of
            employment, please confirm your acceptance of offer by signing and returning the
            enclosed employment agreement within 2 days of receipt of this offer document.</p>
    </font>
    <font size="4">
        <p>
            On behalf of Nescode Technologies Private Limited I would like to welcome you to
            our team. We believe Nescode can provide an outstanding opportunity for you to
            continue the development of your professional career. We also believe that you
            will make a significant contribution to Nescode and we look forward to your
            joining us.</p>
    </font>

    <font size="4">
        <p>Yours sincerely</p>
    </font>

    <font size="4">
        <p>For
            <b>Nescode Technologies Private Limited</b>
        </p>
    </font>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <font size="4">
        <p>
            <center>
                <b>Employment Agreement</b>
            </center>
        </p>
    </font>
    <font size="4">
        <center>
            <p>Statement of Main Terms and Conditions of Employment</p>
        </center>
    </font>
    <font size="4">
        <p>This employment agreement ("Agreement") is made on this day of 16th Day of
            February 2018</p>
        <p>Between:<p/>
            <p>Nescode Technologies Private Limited, a company incorporated under the Indian
                Companies Act and having its registered office at #29, Srivari Nilayam,
                Venkateshwara Layout, Kudlu, Bangalore 560068 India., and herein represented by
                Sunil Kumar as its authorised signatory (hereinafter the 'Company' which
                expression shall where the context so requires, be deemed to include its
                successors and assigns) of One Part;</p>
            <p>And</p>
            <p>
                <b>Mr.{{first_name }}</b><br>
                S/O :
                {{father_name }},{{ city }},<br>
                {{ district }}
                {{ state }}
                -
                {{ pincode }}</p>
            <p>(Hereinafter the 'Employee') of the Other Part.</p>
            <p>(The Company and Employee hereinafter collectively referred to as "Parties"
                and individually as "Party")</p>
            <p>This Agreement must be read along with all the attached Appendices. The
                Statement of Main Terms and Conditions of Employment along with the attached
                Appendices form the complete Agreement and Contract of Employment.</p>
            <p>
                <b>Commencement</b>
            </p>
            <p>1. Your employment with the Company shall commence from 01st Day of March
                2018 which shall be furnished with employment form and associated documentation.
                Your place of work will be in Bangalore, Karnataka, however due to the nature of
                our work, at times you may be required to work in other locations and as such
                may be positioned or deputed outside Bangalore, in India or abroad. In these
                instances your appointment shall continue to be governed by the terms of this
                Employment Agreement and related appendixes even when deputed or positioned
                outside India.
            </p>
            <p>
                <b>Duties, Responsibilities, Reporting & Review</b>
            </p>
            <p>2. The Employee shall be required to perform such tasks as commensurate with
                his/her designation and experience, which may be assigned to him and which are
                outlined in the relevant job description, as amended from time-to-time.</p>
            <p>3. The performance of the Employee shall be reviewed at least once a year by
                the Company.</p>

            <p>
                <b>Place of Work:</b>
            </p>
            <p>4. You will report into the Company's Bangalore office. The Company may,
                after giving you reasonable notice, transfer or assign your services to any
                place of business of The Company that may presently be operating, or which may
                subsequently be acquired or established, in any part of India or abroad.</p>
            <p>
                5. The Company reserves its rights to transfer or assign your services to any
                associate company, branch, office, subsidiary or other companies, concerns,
                organizations, or firms with whom the Company may make any such arrangement or
                agree</p>
            <p>
                <b>Confidentiality:</b>
            </p>
            <p>
                6. You must always maintain the highest degree of secrecy and keep as
                confidential the records, documents and such other information relating to the
                business of the Company which may be known to you or confided in you by any
                means in the course of your employment with The Company. You will be required to
                sign the Inventions Disclosure, Confidentiality and Proprietary Rights Agreement
                with the Company at the time of joining the Company. In case of any misuse of
                company information, company may take a legal action and claim for loss of
                business.</p>

            <p>
                <b>Taxes:</b>
            </p>
            <p>
                7. Taxes will be withheld in accordance with laws of the country where you will
                be located and you may be required to provide receipts for allowances. You shall
                be responsible for filing of your personal returns and comply with other
                requirements under the India tax laws.</p>
            <p>
                <b>Probation:</b>
            </p>
            <p>8. The employee shall be under probation for period of 6 (Six) months from
                the date of joining, during which time period the Employee's performance shall
                be monitored closely. This probation period shall, at the option of the Company,
                be extendable by such further periods as the Company deems necessary to evaluate
                the Employee's performance levels. Upon completion of the probation period, a
                decision will be taken regarding the confirmation of his/her service. In the
                event that the employment is confirmed, the Employee will be issued a letter of
                confirmation.</p>
            <p>9. During the probation period, or extended probation period if applicable,
                Company may terminate the appointment by written notice of 1 (One) month, or by
                paying salary (basic) in lieu of notice (except in case of dismissal by the
                Company without notice as per the terms mentioned in the section entitled
                Termination contained in this Agreement).</p>
            <p>
                <b>Hours of Work, Leave and Holidays:</b>
            </p>
            <p>10. The Employee will be required to work for at least 40 hours each week.
                Your normal working days will be Monday to Saturday, however at times actual
                working hours, and working days (including working public holidays) may be
                determined by workflow and Company commitments. The Employee will be provided
                with an additional 1 (one) hour lunch break during each working day. In addition
                the Company may, from time to time, subject to applicable laws require the
                Employee to work beyond these hours without any further compensation.</p>
            <p>The Employee also expressly agrees that the Company may assign this Agreement
                to any of the Company's subsidiaries or affiliates, in India or any other
                location, at the Company's option, according to the Employee's capabilities, and
                the employee shall be bound by it without any further remuneration.</p>
            <p>
                <b>Benefit Programme
                </b>
            </p>
            <p>
                <b>Statutory India Programs:
                </b>
            </p>
            <table class="table" style="width:100%">
                <tr>
                    <td style="width:20%" class="cellpadding">Public Holidays</td>
                    <td class="cellpadding">The Company provides 10 paid days as time off to
                        employees so that they may celebrate holidays and festivals. Please see the
                        Holiday Policy for a complete listing of specific days.
                    </td>
                </tr>
                <tr>
                    <td class="cellpadding">Statutory Programs</td>
                    <td class="cellpadding">The Company will make the necessary contributions
                        towards statutory benefit programs such as Provident Fund and Gratuity Fund. (If
                        applicable to employee.)
                    </td>
                </tr>
            </table>
            <p>
                <b>Leave Programs:
                </b>
            </p>
            <table class="table" style="width:100%">
                <tr>
                    <td style="width:20%" class="cellpadding">Annual Leave</td>
                    <td class="cellpadding">For first 2 years of employment every month of
                        continuous service, employees will accrue 1 Day (12 working days per year).
                        After 2 years of employment every month of continuous service, employees will
                        accrue 1.27 Days (15 working days per year).
                    </td>
                </tr>
                <tr>
                    <td class="cellpadding">Sick/Casual Leave</td>
                    <td class="cellpadding">The Company provides employees with 10 working days per calendar year.
                    </td>
                </tr>
            </table>
            <p>
                <b>Additional Company Benefit Programs:
                </b>
            </p>

            <table class="table" style="width:100%">
                <tr>
                    <td style="width:20%" class="cellpadding">Employee Recognition
                    </td>
                    <td class="cellpadding">The Company will acknowledge employees by providing gift
                        vouchers in celebration of special events of company. Employees are also
                        recognized for their accomplishments via the Company's Award Program.</td>
                </tr>
            </table>
            <p>11. The salary stated in appendix B is payable monthly by direct credit to
                the bank account of the Employee, with respect to the preceding month. If at any
                time, the Company makes over payments to the Employee or if there are any
                amounts outstanding from the Employee to the Company, the Company shall be
                entitled to make deductions from the salary and/or related bonus payments of the
                Employee in respect of any such amounts.
            </p>
            <p>12. The Employee shall be governed by the Company's policies and rules
                regarding Provident Fund, Employee State Insurance, and medical reimbursement.
            </p>
            <p>
                13. The Employee shall not discuss his/her remuneration/compensation stated
                hereinabove with others as the same is a personal matter between the Employee
                and the Company.
            </p>
            <p>
                <b>Code of Conduct:
                </b>
            </p>
            <p>14. The Employee shall in the course of his/her employment be required to
                adhere to and follow all applicable laws, and the Company's policies and
                instructions as amended from time to time and a copy of which, as prevalent, has
                been made available to the Employee. In so far as these policies and
                instructions deal with standards of conduct and obligations of employees, they
                shall form part of this Agreement.
            </p>
            <p>15. The Employee is aware and acknowledges that the Company is committed to
                the promotion of an environment that values the diversity of the workforce and
                is free from discrimination on the basis of race, colour, sex, sexual
                preference, age, physical or mental disability, marital status, family
                responsibilities, pregnancy, religion, political opinion, national extraction or
                social origin. The Employee shall be required to observe this policy at all
                times during the course of his/her employment with the Company.
            </p>
            <p>16. The Employee shall display the highest standards of propriety and
                integrity in all his/her dealings with the Company, its clients, vendors,
                suppliers, customers, consultants, employees and service providers.
            </p>
            <p>
                <b>Employment Rules and Regulations:</b>
            </p>
            <p>17. In addition to the terms and conditions of employment specifically stated
                herein, you will also be governed by the rules, regulations and such other
                practices, systems, procedures and policies framed, amended, modified or omitted
                by The Company from time to time. You will also be governed by statutory laws
                enacted by Central or State Government or local authorities as may be applicable
                to you from time to time.
            </p>
            <p>
                <b>Employment Rules and Regulations:</b>
            </p>
            <p>18. The Employee's employment with the Company shall be on an exclusive and
                full time basis. The Employee shall not, during his/her period of employment,
                work in any capacity whatsoever for any other person or entity. The Employee
                shall not engage in any acts or deeds such that association with the Employee
                would be detrimental to the interests of the Company, tarnish the reputation of
                the Company or cause the Company to be involved in any legal or ethical
                controversy.</p>
            <p>
                <b>Termination of Employment:
                </b>
            </p>
            <p>19. Your employment with The Company including the probation period may be
                terminated by the Company by providing thirty (30) days prior written notice.
                However the provision of such notice is 3 Months; in all instances of
                termination of employment by you. However management can be flexible at that
                point to ensure business/project execution continuity. If you fail to provide
                such notice prior to terminatin your employment,you will be required to pay the
                Company in lieu of the required notice based on your gross pay (basic plus
                allowances). The Company reserves the right to terminate employment prior to the
                end of the notice period and pay in lieu of such notice gross salary, at its
                sole discretion.</p>
            <p>20. If you want to leave the Company by resigning while on a live customer
                project, whether during probation period or after confirmation and irrespective
                of your location of work, you will be required to give a minimum of three
                months' notice and serve the entire notice period so as to enable seamless
                transition without impacting the customer's project. It is on the sole
                discretion of the Company to relieve you within the three month period provided
                your reporting manager feels that the knowledge transfer has been made
                satisfactorily. The minimum notice of three months cannot be adjusted in
                anyways, and this supersedes the clauses #9 and #19, while you resign serving on
                a live customer project.
            </p>
            <p>21. Notwithstanding anything to the contrary contained herein, the Company
                may terminate this agreement, with immediate effect by a notice in writing
                (without salary in lieu of notice) in the event of the Employee's misconduct,
                including but not limited to fraudulent, dishonest or undisciplined conduct, or
                breach of integrity, or embezzlement, or misappropriation or misuse of Company
                property, or insubordination or failure to comply with the directions given by
                persons so authorised, or insolvency or conviction for any offence, including an
                offence involving moral turpitude, or breach by the Employee of any terms of
                this Agreement or Company policy or other documents or directions of the
                Company, or irregularity in attendance, or unauthorised absence from the place
                of work for more than 3 working days, or upon the Employee conducting himself in
                a manner which is regarded by the Company as prejudicial to its own interests.</p>
            <p>22. In case of false information provided by the employee about
                himself/herself, then the employee shall be liable to be dismissed from service
                at any time during the period of probation or after confirmation without any
                notice or compensation.</p>
            <p>23. In the event of termination (for any reason whatsoever) the Employee
                shall surrender all properties of the Company (including Intellectual Property)
                held by the Employee in any form whatsoever (including but not limited to soft
                copies/databases, etc.) before the Employee is released from the Company.
                Further the Employee shall repay all outstanding loans and settle all unsettled
                advances, if any, prior to the Employee's release from employment. The Company
                retains the right to recover the value of Company's property not surrendered or
                loans/advances not repaid/settled from the Employee's final settlement dues.</p>
            <p>24. During initial phase of your employment with Nescode, Company will invest
                on your technical ramp and industry readiness by spending considerable amount of
                effort, money and infrastructure. In lieu of that, if you decide to leave
                Nescode within 12 months of joining, you would be liable to pay Rs.50,000/- as
                compensation to Company before the designated relieving date, failing which
                Nescode would be free to initiate recovery proceedings as mandated by the law.</p>
            <p>
                <b>Intellectual Property of other Employers:</b>
            </p>
            <p>25. The Company has extended this offer to you based upon your general
                knowledge, background, experience & skills and not because of your knowledge of
                your current employer's or any previous employer's trade secrets or other
                company specific information. As a condition of employment with the Company, you
                agree not to disclose or use confidential or proprietary information or any
                trade secrets of any current or prior employer or any other individual. In this
                regard, you should be extremely careful not to bring to the company any
                documents or other materials in tangible form belonging to or acquired from
                others. However company will not be liable of such non-compliance of IP
                Protection of your earlier or current employer.</p>
            <p>
                <b>Non-Competition:
                </b>
            </p>
            <p>26. The Employee hereby covenants that he/she will not, during the term of
                their employment and for the period of 12 months after termination of
                employment, either alone or jointly with or on behalf of any person, directly or
                indirectly:
            </p>
            <p>--- In connection with the carrying on of any business in competition with
                the Company canvas, solicit or approach or cause to be canvassed, solicited or
                approached for business any person who, or which at the date of termination of
                employment or at any time during the period of 12 months prior to that date, is
                a customer or client of the Company and /or any Associated Company and with whom
                or which the Employee will have had dealings during the course of Employment;
                and
            </p>

            <p>--- In connection with the carrying on of any business in competition with
                the Company do business with any person who has, at any time during the period
                of 12 months immediately preceding the date of such termination, done business
                with the Company and /or any Associated Company as a supplier, customer, client,
                broker, agent or consultant and with whom of which the Employee will have had
                dealings during the course of Employment.
            </p>
            <p>
                <b>Prior Restraints & Other Conditions Precedent:
                </b>
            </p>
            <p>27. As a condition precedent to the obligations of the Company under this
                Agreement coming into force, any restrictions/restraints continuing to operate
                against the Employee from his/her previous employment which has any direct or
                indirect implications on him fulfilling his/her duties and responsibilities
                towards the Company must stand terminated as on the date of his/her employment
                with the Company.</p>
            <p>
                <b>Miscellaneous
                </b>
            </p>
            <p>28. At any time after the date hereof, the Employee shall not do anything
                that might prejudice carrying on of the business of the Company.
            </p>

            <p>29. Each covenant contained in this Agreement shall be constructed as a
                separate covenant and if one or more of the covenants is held to be against
                public interest or unlawful or in any way an unreasonable restraint of trade,
                the remaining covenants shall continue to bind the Employee.
            </p>

            <p>30. The Employee shall be bound by all the general terms and conditions
                applicable to employees of the Company under any or all of the applicable law.</p>
            <p>
                <b>Employment Rules and Regulations:
                </b>
            </p>
            <p>31. In addition to the terms and conditions of employment specifically stated
                herein, you will also be governed by the rules, regulations and such other
                practices, systems, procedures and policies framed, amended, modified or omitted
                by the Company from time to time. You will also be governed by statutory laws
                enacted by Central or State Government or local authorities as may be applicable
                to you from time to time</p>

            <p>Sunita Kumari</p>
            <b>Human Resource</b>
            <p>
                <b>I, {{first_name}}, acknowledge that I have read and fully understood all the
                    terms and conditions of this employment agreement as outlined above and
                    Appendices A and B which governs my employment at Nescode Technologies Private
                    Limited. I hereby accept the offer and terms and conditions of this employment
                    agreement.</b>
            </p>
            <p>
                <pre>Signature:__________                                                                                 Name:__________</pre>
            </p>
            <p>
                <pre>Date:______________                                                                                Place:__________</pre>
            </p>
        </font>
</div>
    </body>
</html>
<style>
    table,
    td,
    th {
        border: 1px solid black;
        border-collapse: collapse;
    }
    .cellpadding {
        padding: 5px;
    }
    .inline {
        display: inline-block;
    }
    pre {
        font-family: "Avenir", Verdana, sans-serif;
    }
    .divjustify{
    text-align: justify;
    }
</style>
