{% extends 'offerletter/home.html' %}
{% block content %}
 {% if request.user.is_authenticated %}
<div class="container col-md-10">
    <h3>Generate Offer Letter</h3>
    <a class="btn btn-primary btn-lg" href="{% url 'offerletter:gen_offer' %}">generate</a>
    <a class="btn btn-primary btn-lg" href="{% url 'offerletter:save_image' %}">Add image</a>
</div>

{% else %}
{{ 'Plz login to continue' }}
{% endif %}

    {% endblock %}