<!DOCTYPE html>
{% extends 'offerletter/home.html' %}

{% block content %}
<!--<h3>profile page</h3>-->
<!--<h3>profile page</h3>-->
<div class="container col-md-10">
        <table class="table">
  <thead>
    <tr>
        <th>NAME</th>
        <th>MOBILE NUMBER</th>
        <th>Email</th>
    </tr>
</thead>
<tbody>
{% for task in posts %}
    <tr>
        <td>{{task.first_name}}</td>
        <td>{{task.mobile_number}}</td>
        <td>{{task.email}}</td>
    </tr>
{% endfor %}
</tbody>
</table>
    </div>

{% endblock %}
<style>
    table, th, td {
    border: 1px solid black;
}
.taketop {
margin-top: -45px;
margin-left: -40px;
}
</style>

