<!DOCTYPE html>
{% extends 'offerletter/home.html' %}

{% block content %}
<!--<h3>profile page</h3>-->
<div class="container col-md-10">
    <div class="col-md-12">
        <a class="btn btn-primary btn-lg" href="{% url 'offerletter:cand_list' %}">Candidates</a>
        <a class="btn btn-primary btn-lg pull-right" href="{% url 'offerletter:add_cand' %}">Add Candidates</a>
    </div>
</div>
{% endblock %}

